@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.woff2') format('woff2'),
       url('./fonts/Outfit-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Bold.woff2') format('woff2'),
       url('./fonts/Outfit-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(213, 225, 239);
}

img {
    display: block;
    /* max-inline-size: 100%; */
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

.qr-box {
    background-color: rgb(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3%;
    width: 15vw;
    height: 30vh;
    padding: 15px 15px 200px;
    border: 0px;
    margin: 200px auto 
}

.qr-box-img {
    
    width: 100%;
    height: 100%; 
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    font-weight: 400;
    white-space: pre-line;
    color: grey;
}

.bold-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    white-space: pre-line;
}

footer{
    text-align: center;
}

.attribution {
    font-size: 15;
    text-align: center;
    color: grey;
    opacity: 0.8;   
}

.attribution a {
    color: hsl(228, 45%, 44%);
}